@font-face {
    font-family: 'VCR_OSD_Mono'; /* Name it whatever you like */
    src: url('../fonts/VCR_OSD_MONO.ttf') format('truetype'); /* Adjust path based on your structure */
}

body {
    font-family: 'VCR_OSD_Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    color: #fff;
}

.input-section {
    width: 300px; /* Match width of the dialogue box */
    margin-bottom: 30px; /* Add space between inputs and dialogue box */
}

.dialogue-box {
    width: 816px;
    height: 180px;
    padding: 20px;
    background-image: url('../assets/textbox/textbox.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    border: none; /* Remove the border if you only want the custom image's outline */
}


.character-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.dialogue-text {
  font-size: 23px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 1em;
}
